<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar'); %>

    <h1>Home Page with templating <%= 4 + 6 %></h1>

    <h2><%= 'Hello World'.toUpperCase() %></h2>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo nobis
      molestiae aliquid, architecto unde esse adipisci? Quaerat voluptatibus
      animi mollitia. Natus sequi atque, ipsam ipsa facilis nostrum numquam.
      Sed, dolor laudantium nostrum praesentium, rem aspernatur voluptatibus
      vitae possimus officia illum libero dicta facere, repudiandae dolorum
      molestiae mollitia facilis laboriosam tenetur.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora maxime
      minima atque voluptate culpa eligendi labore placeat repudiandae, dolorum,
      eos quod ut, veritatis quasi praesentium delectus commodi voluptatibus
      fuga ab cupiditate voluptas. Cum temporibus, corrupti necessitatibus at
      est illum natus voluptate sequi repellat molestias adipisci ea accusamus,
      veritatis non incidunt!
    </p>
  </body>
</html>
