<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Farm</title>
  </head>
  <body>
    <h2>Create new Farm</h2>

    <ul>
      <li>
        <a href="/farm">Farms list</a>
      </li>
    </ul>

    <form action="/farm/create" method="POST">
      <section>
        <label for="name">Name: </label>
        <input type="text" id="name" name="farm[name]" />
      </section>

      <section>
        <label for="name">Location: </label>
        <input type="text" id="name" name="farm[location]" />
      </section>

      <button>Create Farm</button>
    </form>
  </body>
</html>
