<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
  </head>
  <body>
    <h1>All Products for sale!</h1>

    <a href="/product/form">Create new product!</a>

    <ul>
      <% for(let product of products) {%>
      <li>
        <h2>Product: <%=product.name %></h2>
        <a href="/product/<%=product.id %>">Show details!</a>
        <a href="/product/<%=product.id %>/update">Update details!</a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
